<nav *ngIf="authService.isLoggedIn()" ngbNav class="navbar navbar-expand-lg px-3 py-2 navbar-dark bg-primary">
    <div class="navbar w-100 h-100 m-safe-t m-safe-x">
        <app-logo></app-logo>
        <button class="navbar-toggler ms-auto btn" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse py-2" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/movies">Movies</a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/profile">Profile</a>
                <button class="btn btn-secondary" (click)="logout()" [disabled]="logoutLoading">
                    <span *ngIf="logoutLoading" class="spinner-border spinner-border-sm" role="status"></span>
                    Logout
                </button>
            </ul>
        </div>
    </div>
</nav>
<app-modal #modal></app-modal>
<router-outlet></router-outlet>
