.navbar-emoji {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.emoji-home {
    background: url("/assets/navbar/home.svg") no-repeat;
}

.emoji-movie {
    background: url("/assets/navbar/movie.svg") no-repeat;
}

.emoji-comic {
    background: url("/assets/navbar/comic.svg") no-repeat;
}

.emoji-profile {
    background: url("/assets/navbar/profile.svg") no-repeat;
}
