/* Importing Variables SCSS file. */
@import './variables.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootswatch SCSS file. */
@import './bootswatch.scss';

html,
body {
    min-height: 100%;
}

// fix for reloading fullscreen
body {
    overscroll-behavior-y: contain;
}

// fix fullscreen scroll
body:fullscreen {
    overflow: scroll !important;
}

body:-ms-fullscreen {
    overflow: scroll !important;
}

body:-webkit-full-screen {
    overflow: scroll !important;
}

body:-moz-full-screen {
    overflow: scroll !important;
}

.m-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}

.m-safe-t {
    margin-top: env(safe-area-inset-top);
}

.m-safe-x {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}

.m-safe-y {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
}
