<div class="m-safe-x">
    <app-back-button></app-back-button>
    <div *ngIf="allMovies$ | async as movies; else loading" class="card-group">

        <ng-container *ngIf="movieType == 'series'">
            <ng-container *ngFor="let movie of movies">
                <ng-container *ngIf="movie.series_id === movieId && movie.id !== movieId">
                    <app-movie-preview *ngIf="movie.sw_type === 'series'" [movie]="movie" [watchRouterLink]="['/movies', 'series', movie.id]"></app-movie-preview>
                    <app-movie-preview *ngIf="movie.sw_type === 'season'" [movie]="movie" [watchRouterLink]="['/movies', 'season', movie.id]"></app-movie-preview>
                    <app-movie-preview *ngIf="!movie.season_id && movie.sw_type === 'episode'" [movie]="movie" [watchRouterLink]="['/movies', 'watch', movie.id]"></app-movie-preview>
                    <app-movie-preview *ngIf="!movie.season_id && !movie.episode_id  && movie.sw_type == 'video'" [movie]="movie" [watchRouterLink]="['/movies', 'watch', movie.id]"></app-movie-preview>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="movieType == 'season'">
            <ng-container *ngFor="let movie of movies">
                <ng-container *ngIf="movie.season_id === movieId && movie.id !== movieId">
                    <app-movie-preview *ngIf="movie.sw_type === 'series'" [movie]="movie" [watchRouterLink]="['/movies', 'series', movie.id]"></app-movie-preview>
                    <app-movie-preview *ngIf="movie.sw_type === 'season'" [movie]="movie" [watchRouterLink]="['/movies', 'season', movie.id]"></app-movie-preview>
                    <app-movie-preview *ngIf="movie.sw_type === 'episode'" [movie]="movie" [watchRouterLink]="['/movies', 'watch', movie.id]"></app-movie-preview>
                    <app-movie-preview *ngIf="!movie.episode_id  && movie.sw_type == 'video'" [movie]="movie" [watchRouterLink]="['/movies', 'watch', movie.id]"></app-movie-preview>
                </ng-container>
            </ng-container>
        </ng-container>

    </div>
    <ng-template #loading>
        <div class="spinner-border" role="status"></div>
    </ng-template>
</div>
