<div class="hero h-full bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse lg:gap-12">
        <app-logo class="logo-lg"></app-logo>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body" [formGroup]="loginForm" (submit)="login()">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input class="input input-bordered" type="text"
                        [class.input-error]="username.invalid && (username.dirty || username.touched)" id="username"
                        formControlName="username" autofocus>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input class="input input-bordered" type="password"
                        [class.input-error]="password.invalid && (password.dirty || password.touched)" id="password"
                        formControlName="password">
                </div>
                <div class="form-control mt-4">
                    <button class="btn btn-primary" type="submit" [disabled]="loading">
                        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                        Login
                    </button>
                </div>
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">Stay Signed In</span>
                        <input class="checkbox checkbox-secondary" type="checkbox" formControlName="staySignedin" />
                    </label>
                </div>
                <div *ngIf="errorMessage" class="alert alert-error mt-2" role="alert">{{errorMessage}}</div>
                <div class="form-control mt-2">
                    <button class="btn" type="button" (click)="useOffline()" [disabled]="loading">
                        Use Offline
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
