<nav class="navbar bg-base-100">
    <div class="flex-1 m-safe-t m-safe-l">
        <app-logo [text]="false"></app-logo>
        <ul class="menu menu-horizontal p-0 gap-2">
            <li *ngFor="let route of navStartRoutes">
                <a routerLinkActive="active" [routerLink]="route.path">{{route.title}}</a>
            </li>
        </ul>
    </div>
    <div class="flex-none m-safe-t m-safe-l gap-2">
        <ul class="menu menu-horizontal p-0 gap-2">
            <li *ngFor="let route of navEndRoutes">
                <a routerLinkActive="active" [routerLink]="route.path">{{route.title}}</a>
            </li>
        </ul>
        <app-logout-button></app-logout-button>
    </div>
</nav>
